.container{
    display: flex;
    width: 100%;
    justify-content: center;
    border-top: 1px solid rgba(218, 102, 218, 0.139);
    background-color: none;
    height: 300px;
    align-items: center;
    
    
    
}
.container h1{
    font-size: 1.25rem;

}

.social{
    margin-top: 10px;
    width: 100;
    
}
.social img{
    margin-left: 15px;
}
.social a{
    background: none;
    border: none;
    text-decoration: none;
}